<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Socios</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center"><img src="" alt="" style="width: 100px;"> Socios club deportivo Los
        Campeones</div>
    <div class="row">
        <div class="col"><a href="socios/" class="btn btn-primary w-100 p-3 ">Socios</a></div>
        <div class="col"><a href="formulario/" class="btn btn-success w-100 p-3 ">Agregar socio</a></div>
    </div>
    <div class="row">
        <div class="col-auto">
            <p><img src="static/img/luffy.jpg" alt="" style="width: 300px;"></p>
        </div>
        <div class="col">
            <h2>Nombre: Edinson Aravena</h1>
            <h2>Edad: 21</h2>
            <h3>Carrera: Ingenieria en informatica</h3>
            <h4>Correo: edinsonaravena18@gmail.com</h4>

        </div>
    </div>

</body>
</html>